<p>Title: {{course.title | uppercase }}</p>
<p>{{course.students | number }} students</p>
<p>{{course.rating | number:'1.2-2' }} star rating</p>
<p>{{course.price | currency }}</p>
<p>released on {{ course.releaseDate | date:'longDate' }}</p>

<div>
  {{ text | summary:49 }}
</div>

<img [src]="imageURL" />
<h2>{{"Title: " + getTitle()}}</h2>
<button (click)="loadCourses()">Load Courses</button>
<button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; index as i; even as isEven; trackBy: trackCourse">
    {{ course.name }} <span *ngIf="isEven">(index {{ i }} even)</span>
    <button (click)="onRemove(course)">Remove</button>
  </li>
</ul>

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  We have courses!
</ng-template>
<ng-template #noCourses>
  No courses yet!
</ng-template>

<button
  class="btn btn-primary"
  [class.active]="isActive"
  [style.backgroundColor]="isActive ? 'blue' : 'white'"
  (click)="handleClick($event)">
  Click Me!
</button>

<input
  [(ngModel)]="email"
  (keyup.enter)="onKeyUp()"
  placeholder="Type email, press enter"
/>
