<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/courses">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/authors">Authors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/posts">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/contact-form">Contact Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/new-course-form">New Course Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active current" routerLink="/other">Other</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
