<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<h1>Angular!!!</h1>
<courses></courses>
<authors></authors>
<favorite
  [is-favorite]="post.isFavorite"
  (click-favorite)="onFavoriteChange($event)">
</favorite>

<div>
  <input type="text" [(ngModel)]="inputText">
  <br>
  {{ inputText | titleCase }}
</div>

<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <ng-container class="body">
    <h2>body</h2>
    <p>some content here...</p>
  </ng-container>
</bootstrap-panel>

<like
  [likes-count]="tweet.likesCount"
  [is-active]="tweet.isActive">
</like>

<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a></li>
  <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<button
  [ngStyle]="{
    'backgroundColor': canSave ? 'blue' : 'grey',
    'color': canSave ? 'white' : 'black',
    'fontWeight': canSave ? 'bold' : 'normal'
  }">
  Save
</button>

<input type="text" [appInputFormat]="'uppercase'"/>

<zippy title="Shipping Details">
  Shipping Details Content
</zippy>
<zippy title="Billing Details">
  Billing Details Content
</zippy>

<div>Task: {{ task.title }}</div>
<div>Assigned to: {{ task.asignee?.name }}</div>

<contact-form></contact-form>

<new-course-form></new-course-form>

<router-outlet></router-outlet>
